@model LMS.Web.Admin.ViewModels.BookViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>BookViewModel</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Publisher" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Publisher" class="form-control" />
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Language" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Language" class="form-control" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ISBN" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CallNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CallNumber" class="form-control" />
                <span asp-validation-for="CallNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaxIssueDays" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaxIssueDays" class="form-control" />
                <span asp-validation-for="MaxIssueDays" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <div class="form-group authors">
            @Html.LabelFor(model => model.Authors, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Authors, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Authors)
            </div>
        </div>
        <hr />
        <div class="form-group subjects">
            @Html.LabelFor(model => model.Subjects, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subjects, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Subjects)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
