@model IEnumerable<LMS.Web.Admin.ViewModels.IssueReturnViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h2>Issue</h2>
        <form asp-action="Issue">
            <div class="form-group">
                <label class="control-label">Member Id</label>
                <input type="text" name="memberId" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Book Id</label>
                <input type="text" name="bookId" class="form-control" />
            </div>
            <input type="submit" value="Issue" class="btn btn-primary" />
        </form>
    </div>
    <div class="col-md-6">
        <h2>Return</h2>
        <form asp-action="Return">
            <div class="form-group">
                <label class="control-label">Book Id</label>
                <input type="text" name="bookId" class="form-control" />
            </div>
            <input type="submit" value="Return" class="btn btn-primary" />
        </form>
    </div>
</div>
<hr />

<h3>All Issued Books</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpireDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-controller="Books" asp-route-id="@item.BookId">@item.BookTitle</a>
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Members" asp-route-id="@item.MemberId">@item.MemberName</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpireDate)
                </td>
            </tr>
        }
    </tbody>
</table>
